/* Category title */
#category_title {
  font-weight: 600;
  font-size: 21px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: rgb(104, 104, 104);
}

/* Family bio title */
#family_bio_title {
  font-weight: 600;
  font-size: 21px;
  padding-left: 15px;
  padding-top: 0px !important;
  padding-bottom: 5px;
  color: rgb(104, 104, 104);
}

/* Hobby tags */
#hobby_tags {
  color: rgb(128, 128, 128);
  border-radius: 50px;
  border-width: 5px !important;
  font-weight: 600;
}

/* Hobby tags on hover */
#hobby_tags:hover {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

#hobby_tags:focus {
  outline: none;
  box-shadow: none;
}

/* Location tags */
#location_tags {
  color: rgb(128, 128, 128);
  border-radius: 50px;
  border-width: 5px !important;
  font-weight: 600;
}

/* Location tags on hover */
#location_tags:hover {
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

#location_tags:focus {
  outline: none;
  box-shadow: none;
}

/* Language tags */
#language_tags {
  color: rgb(128, 128, 128);
  border-radius: 50px;
  border-width: 5px !important;
  font-weight: 600;
}

/* Language tags on hover */
#language_tags:hover {
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

#language_tags:focus {
  outline: none;
  box-shadow: none;
}