{% extends 'header_footer/base.html' %}
{% load static %}

{% block title %}
  Requests | Family+
{% endblock %}

{% block content %}

<!-- CSS styling -->
<link rel="stylesheet" type="text/css" href="{% static 'website/css/pending_requests/pending_requests.css' %}">

<body style="background-color: #f0f2f5;">
  <section id="section_background_pending_requests">

    <!-- Total number of pending requests waiting for the user's response -->
    <center>
      <div class="container-fluid" id="pending_requests_page_title">
        Requests
      </div>
      Total Pending: {{ total_pending }}
    </center>

    <div class="container" id="pending_requests_container">
      <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3 justify-content-center">
        {% for sender in received_requests %}

          <div class="col" style="max-width: fit-content !important;">
            <div class="p-3">
              <center>
                <div class="card" id="pending_requests_card">
                  <!-- Display family profile image -->
                  <div class="container-fluid border shadow" id="img_container">
                    {% if sender.familyprofile.profile_image %}
                      <button type="button" class="btn" id="pending_requests_modal_btn" data-bs-toggle="modal" data-bs-target="#resultModal{{ forloop.counter }}">
                        <img src="{{ sender.familyprofile.profile_image.url }}" class="img-fluid shadow border border-light border-2" id="profile_img"> 
                      </button>
                      {% include 'requests/pending-requests-modal.html' %}
                    {% else %}
                      <button type="button" class="btn" id="result_modal_btn" data-bs-toggle="modal" data-bs-target="#resultModal{{ forloop.counter }}">
                        <img src="{% static 'website/images/default_profile_img/plain_default3.jpg' %}" class="img-fluid shadow border border-light border-2" id="profile_img">
                      </button>
                      {% include 'requests/pending-requests-modal.html' %}
                    {% endif %}

                    <!-- Display family nickname -->
                    <div class="container-fluid text-truncate" id="fname_title" data-toggle="tooltip" title="{{ sender.familyprofile.family_name|title }} Family">
                      {% if sender.familyprofile.family_name %}
                        {{ sender.familyprofile.family_name|title }} Family
                      {% else %}
                        Profile Not Set Up
                      {% endif %}
                    </div>
                  </div>
                </div>
              </center>
            </div>
          </div>
          
        {% endfor %}
      </div>
    </div>

    <!-- Pagination -->
    {% if search_results and query %}
      {% include 'pagination/results_paginator.html' %}
    {% endif %}

  </section>
</body>

{% endblock %}