{% extends 'footer_header/base.html' %}

{% block title %}
  Requests | Family+
{% endblock %}

{% block content %}

<body>
  <section style="background-color: #f0f2f5; height: 100vh; padding: 280px;">
    <center>
      <div class="container-fluid">
        <h4>Requests Page Creation In Progress...</h4>
          
        <!-- Total number of pending requests waiting for the user's response -->
        {% if total_pending == 0 %}
          No pending requests.
        {% elif total_pending == 1 %}
          You have {{ total_pending }} pending request.
        {% else %}
          You have {{ total_pending }} pending requests.
        {% endif %}

        <!--
        <div class="container-fluid" style="padding: 20px">
          <div class="row">
            <div class="col-md-3 offset-md-1">
            </div>

            <div class="col-md-2 offset-md-6">
              <form action="{#% url 'accept-request' page_user.pk %}" method="POST">{% csrf_token %}
                <button type="submit", name="profile_id_4", value="{{ page_user.id }}" class="btn btn-primary">
                  Accept Connection
                </button>
              </form>
            </div>
          </div>
        </div>

        
        <div class="container-fluid" style="padding: 20px">
          <div class="row">
            <div class="col-md-3 offset-md-1">
            </div>

            <div class="col-md-2 offset-md-6">
              <form action="{#% url 'decline-request' page_user.pk %}" method="POST">{% csrf_token %}
                <button type="submit", name="profile_id_5", value="{{ page_user.id }}" class="btn btn-danger">
                  Decline
                </button>
              </form>
            </div>
          </div>
        </div>
      -->

      </div>
      <div class="container-fluid" style="padding-top: 30px;">
        <input type=button value="Go Back" class="btn btn-secondary" onClick="javascript:history.go(-1);">
      </div>
    </center>
  </section>
</body>

{% endblock %}