{% extends 'footer_header/base.html' %}

{% block title %}
  Requests | Family+
{% endblock %}

{% block content %}

<body>
  <section style="background-color: #f0f2f5; height: 100vh; padding: 280px;">
    <center>
      <div class="container-fluid">
        <h4>Requests Page Creation In Progress...</h4>
      </div>
      <div class="container-fluid" style="padding-top: 30px;">
        <input type=button value="Go Back" class="btn btn-secondary" onClick="javascript:history.go(-1);">
      </div>
    </center>
  </section>
</body>

{% endblock %}