/* FAQ background image */
#section_background_faq {
  margin-top: 60px;
  padding-top: 100px;
  padding-bottom: 200px;
  background-image: url('/static/website/images/backgrounds/dinner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  filter: brightness(95%);
}

/* FAQ container */
#faq_container {
  width: 100%;
}

/* h1 style */
h1{
  text-align: center;
  margin: 2rem 0;
  font-size: 38px;
  font-weight: 600 !important;
  padding-bottom: 10px;
  color: rgb(70, 70, 70);
}

/* h4 style */
h4{
  text-align: left;
  /* margin: rem 0; */
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 100px;
}

/* faq */
.faq {
  max-width: 1200px;
  margin: 2rem auto;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 70px;
  background: #ffffff;
}

/* faq-item */
.faq-item {
  background-color: rgb(231, 231, 231);
  color: black;
  margin: 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0,.5);
}

/* question style */
.question{
  padding:0.5rem 2rem 0.5rem 1 rem;
  min-height: 3rem;
  line-height: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  left: 1.5rem;

}

/* question + */
.question::after {
  content:"+";
  font-size: 2rem;
  position: absolute;
  right: 3rem;
  
}

/* question - */
.question.active::after {
  content:"-";
  font-size: 2.5rem;

}

/* answer */
.answer {
  max-height: 0;
  overflow: hidden;
  transition: transform 0.8s;
}

/* answer content */
.answer-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1.5px solid;
  border-top-color: rgb(192, 192, 192);
  font-size: 1.2rem;
  text-align: left;
  padding-right: 10px;
}