/* Section background */
#section_background_faq {
  margin-top: 60px;
  padding-bottom: 100px;
  background-image: url('/static/website/images/backgrounds/family_feast.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: 100vh;
}

/* FAQ title */
#faq_title {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 50px;
}

/* FAQ content container */
#faq_content_container {
  width: 80%;
  background-color: #f4f4f4;
  font-size: 20px;
  color: rgb(70, 70, 70);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}