/* Navbar. Gradient coloring: https://bootsnipp.com/snippets/Gl29g */
#navbar1 {
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.397); */
  position: fixed;
  font-size: 17px;
}

/* Sign Up link in navbar */
.nav-item .nav-link#register_link1 {
  color: #fff;
}

/* Login link in navbar */
.nav-item .nav-link#login_link1 {
  color: #fff;
}

/* Navbar profile image */
#navbar_profile_image {
  box-shadow: 0 0 0 1px #632d6b1c;
}

/* All navbar items when hover */
/* #navbar_logo:hover {
  filter: brightness(85%);
} */