/* Navbar */

/* Navbar hover color */
.navbar-light:hover {
  background-color: #3aa9b8 !important;
}

/* First sticky navbar */
.sticky1 {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* Second sticky navbar underneath */
/* .sticky2 {
	position: -webkit-sticky;
	position: sticky;
	top: 100px;
} */
