/* Home page title */
#home_title {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  padding-top: 100px;
}

/* Section background when logged in*/
#logged_in_home_bg {
  padding-top: 60px;
  background-image: url('/static/website/images/backgrounds/family_tablet5.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: 100vh;
}

/* Search button */
#search_btn {
  background-color: rgb(104, 89, 240);
  width: 300px;
  height: 120px;
  border-radius: 0px;
  padding-top: 45px;
  font-size: 20px;
  color: #fff;
  border-color: rgb(255, 255, 255);
  border-width: 4px;
}
#search_btn:hover {
  background-color: rgba(123, 121, 253, 0);
}
#search_btn:focus {
  outline: none;
  box-shadow: none;
}
#search_btn_container {
  padding-top: 80px;
  padding-bottom: 45px;
}

/* Family profile button */
#profile_btn {
  background-color: rgb(104, 89, 240);
  width: 300px;
  height: 120px;
  border-radius: 0px;
  padding-top: 45px;
  font-size: 20px;
  color: #fff;
  border-color: #fff;
  border-width: 4px;
}
#profile_btn:hover {
  background-color: rgba(123, 121, 253, 0);
}
#profile_btn:focus {
  outline: none;
  box-shadow: none;
}
#profile_btn_container {
  padding-bottom: 45px;
}

/* Logout button */
#logout_btn {
  background-color: rgb(104, 89, 240);
  width: 300px;
  height: 120px;
  border-radius: 0px;
  padding-top: 45px;
  font-size: 20px;
  color: #fff;
  border-color: #fff;
  border-width: 4px;
}
#logout_btn:hover {
  background-color: rgba(123, 121, 253, 0);
}
#logout_btn:focus {
  outline: none;
  box-shadow: none;
}
#logout_btn_container {
  padding-bottom: 225px;
}

/* Create family profile button */
#create_profile_btn {
  background-color: rgb(104, 89, 240);
  width: 300px;
  height: 120px;
  border-radius: 0px;
  padding-top: 45px;
  font-size: 20px;
  color: #fff;
  border-color: #fff;
  border-width: 4px;
}
#create_profile_btn:hover {
  background-color: rgba(123, 121, 253, 0);
}
#create_profile_btn:focus {
  outline: none;
  box-shadow: none;
}
#create_profile_btn_container {
  padding-top: 80px;
  padding-bottom: 45px;
}

/* Section background when logged out */
#logged_out_home_bg {
  padding-top: 60px;
  background-image: url('/static/website/images/backgrounds/family_tablet3.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  opacity: 0.95;
  filter: brightness(105%);
  height: 100vh;
}

/* Login button */
#login_btn {
  background-color: rgb(104, 89, 240);
  width: 300px;
  height: 120px;
  border-radius: 0px;
  padding-top: 45px;
  font-size: 20px;
  color: #fff;
  border-color: #fff;
  border-width: 4px;
}
#login_btn:hover {
  background-color: rgba(123, 121, 253, 0);
}
#login_btn:focus {
  outline: none;
  box-shadow: none;
}
#login_btn_container {
  padding-top: 80px;
  padding-bottom: 45px;
}

/* Sign Up button */
#register_btn {
  background-color: rgb(104, 89, 240);
  width: 300px;
  height: 120px;
  border-radius: 0px;
  padding-top: 45px;
  font-size: 20px;
  color: #fff;
  border-color: #fff;
  border-width: 4px;
}
#register_btn:hover {
  background-color: rgba(123, 121, 253, 0);
}
#register_btn:focus {
  outline: none;
  box-shadow: none;
}
#register_btn_container {
  padding-bottom: 360px;
}