{% extends 'header_footer/base.html' %}

{% block title %}
  FAQ | Family+
{% endblock %}

{% block content %}

<body>
  <section style="padding-top: 70px; min-height: 2000px;">
    <center>
      <div class="container-fluid">
        <h4>FAQ Page Creation In Progress...</h4>
      </div>
      <div class="container-fluid" style="padding-top: 30px;">
        <input type=button value="Go Back" class="btn btn-secondary" onClick="javascript:history.go(-1);">
      </div>
    </center>
  </section>
</body>

{% endblock %}