{% extends 'header_footer/base.html' %}

{% block title %}
  Welcome | Family+
{% endblock %}

{% block content %}

{% load static %}

<!-- css file -->
<link rel="stylesheet" type="text/css" href="{% static 'registration/style_welcome.css' %}">


<body>
    <!-- background image file -->
    <br>
    <br>

    <img src="{% static '/images/Welcome/FamilyP_banner.jpg' %}" class="img-fluid" alt="Family">


    <div class="container">


        <div class="text-center">
        <br>
        <div class="title">Welcome!</div>
            
        <div class="subtitle">A place where families connected <br>
            and get together for social activities!</div>

        <br>

        <div>Create Account</div>
        <a href="{% url 'register' %}" class="btn btn-primary" button type="button">Sign up</a>

        <br>
        <br>

        <div>Already have an account? Login</div>
        <a href="{% url 'login' %}" class="btn btn-primary" button type="button">Log in</a>

        <br>
        <br>
        <br>

        </div>
    </div>

    <section class="icon-section">
        <div class="icon">
            

            <img src="{% static '/images/Welcome/Family_pic01_web2.jpg' %}">
            <br>
            <p class="p1">Get to know your neighbors</p>
            <p class="p2 text-center">Your new family friends might be <br>
                just around the corner.</p>
            <br>
        </div>
        <div class="icon">

            <img src="{% static '/images/Welcome/Family_pic02_web2.jpg' %}">
            <br>
            <p class="p1">Make new friends fast</p1>
            <br>
            <p class="p2 text-center">Just move to the area?  No worries, <br>
                there are families who want to meet you.</p1>
            <br>
        </div>
        <div class="icon">

            <img src="{% static '/images/Welcome/Family_pic03_web2.jpg' %}">
            <br>
            <p class="p1">Ready for a fun activities</p1>
            <br>
            <p class="p2 text-center">Enjoy your favorite activities with <br>
                new friends who share similar interests.</p1>
            <br>
        </div>

    </section>

    <br>

    </div>

</body>

{% endblock %}