{% extends 'header_footer/base.html' %}
{% load static %}

<!-- Page title -->
{% block title %}
  Welcome | Family+
{% endblock %}

{% block content %}

<!-- CSS styling -->
<link rel="stylesheet" type="text/css" href="{% static 'website/css/registration/welcome.css' %}">

<body>
    <section id="section_background_welcome">
      <center>

        <div class="container-fluid shadow" id="welcome_container">

          <!-- Welcome page title -->
          <div class="container-fluid" id="welcome_title">
            Welcome to Family+
          </div>
          <div class="container-fluid" id="welcome_desc">
            A place where families connect and grow!
          </div>

          <div class="container-fluid" id="nav_center_container">
            <!-- Sign Up button -->
            <div class="container-fluid" id="register_btn_container">
              <a class="btn" id="register_btn" href="{% url 'register' %}">
                Sign Up
              </a>
            </div>

            <!-- Login button -->
            <div class="container-fluid" id="login_btn_container">
              <a class="btn" id="login_btn" href="{% url 'login' %}">
                Login
              </a>
            </div>

            <!-- Home button -->
            <div class="container-fluid" id="home_btn_container">
              <a class="btn" id="home_btn" href="{% url 'home' %}">
                Home
              </a>
            </div>
          </div>

        </div>

        <!-- Empty container to add padding -->
        <div class="container-fluid" id="empty_container">          
        </div>

        <!-- Descriptions about the website and example images. Images by rawpixel.com. -->
        <div class="container-fluid" id="about_container1">
          <div class="container-fluid shadow" id="desc1_container">
            <div class="row">
              <div class="col" id="image_col1">
                <div class="card shadow" id="image_card">
                  <img src="{% static 'website/images/examples/family_friend_group.png' %}" class="img-fluid shadow" id="example_image1"> 
                </div>
              </div>
              <div class="col" id="desc_paragraph1">
                <h3 id="desc_title">Add More Members To Your Family</h3>
                <p>There's always room for more family and friends.
                Your gatherings and celebrations can be just that more special
                with those you care about.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Empty container to add padding -->
        <div class="container-fluid" id="empty_container">          
        </div>

        <div class="container-fluid" id="about_container2">
          <div class="container-fluid shadow" id="desc2_container">
            <div class="row">
              <div class="col" id="image_col2">
                <div class="card shadow" id="image_card">
                  <img src="{% static 'website/images/examples/ocean_visit.png' %}" class="img-fluid shadow" id="example_image2"> 
                </div> 
              </div>
              <div class="col" id="desc_paragraph2">
                <h3 id="desc_title">Get To Know Others Like You</h3>
                <p>You can find families that share the same interests. They could
                be just around the corner or take a trip to a new place and meet them!</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Empty container to add padding -->
        <div class="container-fluid" id="empty_container">          
        </div>

        <div class="container-fluid" id="about_container3">
          <div class="container-fluid shadow" id="desc3_container">
            <div class="row">
              <div class="col" id="image_col3">
                <div class="card shadow" id="image_card">
                  <img src="{% static 'website/images/examples/friends_cooking.png' %}" class="img-fluid shadow" id="example_image3"> 
                </div>
              </div>
              <div class="col" id="desc_paragraph3">
                <h3 id="desc_title">Learn A New Hobby And...</h3>
                <p>Gather with your new connections to take on new journeys together.
                You can enjoy and shareyour favorite activites with others who want
                to join in on the fun.</p>
              </div>
            </div>
          </div>

          <!-- Empty container to add padding to bottom of website-->
          <div class="container-fluid" id="bottom_container">          
          </div>
        </div>

      </center>
    </section>
</body>

{% endblock %}