{% extends 'header_footer/base.html' %}

<!-- Page title -->
{% block title %}
  Account Settings | Family+
{% endblock %}

{% block content %}



<!-- Django form -->

<body style="background-color: #f0f2f5;">
  <section style="padding-top: 70px; min-height: 2000px;">
    {% if user.is_authenticated %}
      <div class="container-fluid" style="padding: 50px">
        <div>
        <h1>Account Settings</h1>
        </div>
        <div class="form-group">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">
              Save
            </button>
            <a href="{% url 'home' %}" class="btn btn-secondary">
              Cancel
            </a>
            <br><br>
          </form>
        </div>
      </div>
    {% else %}
      <!-- Require logged in account to access account settings page -->
      <div class="container" style="padding: 290px;">
        You must be logged in to visit this page
      </div>
    {% endif %}
  </section>
</body>

{% endblock %}