{% extends 'header_footer/base.html' %}
{% load static %}

<!-- Page title -->
{% block title %}
  Account Settings | Family+
{% endblock %}

{% block content %}

<!-- Django form -->

<!-- CSS styling -->
<link rel="stylesheet" type="text/css" href="{% static 'website/css/registration/account_settings.css' %}">

<body style="background-color: #f4f4f4;">
  <section id="section_background_account_settings">
    {% if user.is_authenticated %}
      <div class="container-fluid" id="empty_div">
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col" style="max-width: fit-content; padding-left: 0 !important;">
            <div class="container-fluid shadow" id="settings_menu">

              <!-- Change username button is default and disabled by default -->
              <div class="container-fluid" id="change_username_btn_container">
                <a class="btn btn-secondary border-0" id="change_username_btn" disabled>
                  Change Username
                </a>
              </div>
              
              <!-- Change password button is clickable -->
              <div class="container-fluid" id="change_password_btn_container">
                <a class="btn btn-secondary border-0" id="change_password_btn" href="/users/password/">
                  Change Password
                </a>
              </div>
              
              <!-- Return home button -->
              <div class="container-fluid" id="home_btn_container">
                <a href="{% url 'home' %}" id="home_btn" class="btn btn-secondary border-0">
                  Return Home
                </a>
              </div>
              
            </div>
          </div>

          <div class="col">
            <div class="container-fluid" id="item_title">
              Change Username
            </div>
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
              {{ form.username }}
              <button class="btn btn-primary">
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    {% else %}
      <!-- Require logged in account to access account settings page -->
      <center>
        <div style="padding-top: 300px; font-size: 20px;">
          Unauthorized access. You must be logged in.
        </div>
      </center>
    {% endif %}
  </section>
</body>

{% endblock %}