{% extends 'footer_header/base.html' %}

<!-- Page title -->
{% block title %}
Family+ | Change Password
{% endblock %}

{% block content %}
<br>
<h1>Change Password</h1>
<br>

<!-- Django form -->
<div class="form-group">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <ul>
      <li>Your password can't be too similar to your other personal information.<br></li>
      <li>Your password must contain at least 8 characters.<br></li>
      <li>Your password can't be a commonly used password.<br></li>
      <li>Your password can't be entirely numeric.<br></li>
    </ul>
    <button class="btn btn-primary">
      Save changes
    </button>
    <a href="{% url 'home' %}" class="btn btn-secondary">
      Cancel
    </a>
    <br/><br/>
  </form>
</div>

{% endblock %}