{% extends 'header_footer/base.html' %}
{% load static %}

<!-- Page title -->
{% block title %}
  Change Password | Family+
{% endblock %}

{% block content %}

<!-- CSS styling -->
<link rel="stylesheet" type="text/css" href="{% static 'website/css/registration/account_settings.css' %}">

<body style="background-color: #f4f4f4;">
  <section id="section_background_account_settings">
    {% if user.is_authenticated %}
      <div class="container-fluid" id="empty_div">
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col" style="max-width: 300px; padding-left: 0 !important;">
            <div class="container-fluid shadow" id="settings_menu">

              <!-- Change username button is default and disabled by default -->
              <div class="container-fluid" id="change_username_btn_container">
                <a class="btn btn-secondary border-0" id="change_username_btn2" href="/users/account_settings/">
                  Change Username
                </a>
              </div>
              
              <!-- Change password button is clickable -->
              <div class="container-fluid" id="change_password_btn_container">
                <a class="btn btn-secondary border-0" id="change_password_btn2" disabled>
                  Change Password
                </a>
              </div>
              
              <!-- Return home button -->
              <div class="container-fluid" id="home_btn_container">
                <a href="{% url 'home' %}" id="home_btn" class="btn btn-secondary border-0">
                  Return Home
                </a>
              </div>
              
            </div>
          </div>

          <div class="col">

            <!-- Success message -->
            {% if messages %}
              {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
            
            <div class="container-fluid" id="item_title">
              Change Password
            </div>
            <div class="container-fluid" id="password_container">
              <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                {{ form.old_password }}
                <div class="container-fluid" style="padding-left: 5px;">
                  <small class="text-muted">
                    Enter your current password
                  </small>
                </div>
                <div class="container-fluid" id="new_password1_container">
                  {{ form.new_password1 }}
                  <div class="container-fluid" style="padding-left: 5px;">
                    <small class="text-muted">
                      Enter your new password
                      <ul>
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                      </ul>
                    </small>
                  </div>
                </div>
                <div class="container-fluid" id="new_password2_container">
                  {{ form.new_password2 }}
                  <div class="container-fluid" style="padding-left: 5px;">
                    <small class="text-muted">
                      Re-type your new password to confirm
                    </small>
                  </div>
                </div>
                <div class="container-fluid" id="save_btn_container">
                  <button class="btn btn-secondary">
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <!-- Require logged in account to access account settings page -->
      <center>
        <div style="padding-top: 300px; font-size: 20px;">
          Unauthorized access. You must be logged in.
        </div>
      </center>
    {% endif %}
  </section>
</body>

{% endblock %}