{% extends 'header_footer/base.html' %}

{% block title %}
  Login | Family+
{% endblock %}




{% block content %}


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'registration/style_login.css' %}">

<div class="card bg-dark text-black">
  <img class="card-img" src="{% static '../media/images/Login/bg_evening.jpg' %}" alt="Card image">
  <div class="card-img-overlay">

<body>
  <section>
    <br>
    <br>
    <div class="center">
      <br>
      <h1> Log in </h1>
      <br>

    <!-- Django form -->
    <div class="col txt_field">
    
    <div class="form-group">
     
      <form method="POST">
        
        {% csrf_token %}
        {{ form.as_p }}
      
        <div class="col text-center">
          <button class="btn btn-primary">
            Login
          </button>
        </div>
        <div class="signup_link">
          No account? <a href="{% url 'register' %}">Create one</a>
        </div>
      </div>
      </form>
    </div>
    </div>
    
    </div>
  </section>
</body>

</div>
</div>

{% endblock %}