{% extends 'header_footer/base.html' %}

{% block title %}
  Login | Family+
{% endblock %}

{% block content %}

{% load static %}

<!-- css file -->
<link rel="stylesheet" type="text/css" href="{% static 'registration/style_login.css' %}">

<body>
  <section>
  <div class="card bg-dark text-black">
  <br>
  <br>
  <!-- background image file -->
  <img class="card-img" src="{% static '/images/Login/bg_evening.jpg' %}" alt="Evening">
  <div class="card-img-overlay">

    <div class="center">
      <br>
      <h1> Log in </h1>
      <br>

    <!-- Django form -->
    <div class="col txt_field">
    
    <div class="form-group">
      
      <form method="POST">
        
        {% csrf_token %}
        {{ form.as_p }}
      
        <div class="col text-center">
          <button class="btn btn-primary">
            Login
          </button>
        
        <br>
        <br>
        <div class="signup_link">
          No account? <a href="{% url 'register' %}">Create one</a>
        </div>
      </div>
      <br>
      </div>
      </form>
    </div>
    </div>
    
    </div>
  </section>
</body>
</div>
</div>
</div>

{% endblock %}