{% extends 'header_footer/base.html' %}
{% load static %}

{% block title %}
  Logout | Family+
{% endblock %}

{% block content %}

<!-- CSS file -->
<link rel="stylesheet" type="text/css" href="{% static 'website/css/registration/logout.css' %}">

<body>

  <section id="section_background_logout">
    <div class="container-fluid" id="outside_container">
      <div class="container-fluid border border-dark shadow" id="message_container">
        You've successfully logged out!
      
        <div class="container-fluid" id="buttons_container">
          <a href="{% url 'login' %}" class="btn btn-outline-dark" id="button_btn" type="button">Login</a>
          <div style="height: 10px;"></div>
          <a href="{% url 'home' %}" class="btn btn-outline-dark" id="button_btn" type="button">Home</a>
        </div>
      </div>
    </div>
  </section>

</body>

{% endblock %}