{% extends 'header_footer/base.html' %}
{% load static %}

{% block title %}
  WRITE PAGE TITLE HERE | Family+
{% endblock %}

{% block content %}

<!-- CSS styling -->
<!-- ADD CSS FILE LINK HERE -->

<body style="background-color: #f0f2f5;">
  <section style="padding-top: 130px; min-height: 1000px;">
    
    <div class="container-fluid">
      <div class="row" >

        <div class="col-sm">
          <!-- FIRST COLUMN HOLDING THE SECOND COLUMN IN THE CENTER -->
        </div>

        <!-- SECOND COLUMN CARD -->
        <div class="col-sm">
          <div class="card-sm shadow">
            
            <div class="container-fluid">
              <!-- TITLE -->
            </div>
  
            <div class="container-fluid">
              <!-- PLACE CONTENT HERE -->
            </div>

          </div>
        </div>

        <div class="col-sm">
          <!-- THIRD COLUMN HOLDING THE SECOND COLUMN IN THE CENTER -->
        </div>

      </div>
    </div>
  </section>
</body>
{% endblock %}

