/* Column class */
/* #category_column {
  padding-right: 15px;
  padding-left: 15px;
} */

/* Change caret to white color in accordions */
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg)
}
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Change border bottom color for all accordion items */
/* #accordion_item {
  border-color: #7474bf41;
} */

/* Category tab color. Gradient coloring: https://bootsnipp.com/snippets/Gl29g */
#category_tab {
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-weight: 600;
  font-size: 21px;
}

/* Edit family button */
#edit_log_link {
  color: #748cbf;
}
#edit_log_link:hover {
  filter: brightness(70%);
}
#edit_log_link_container {
  padding: 0;
  text-align: right;
}

/* Hobby tags */
#hobby_tags {
  color: rgb(128, 128, 128);
  border-radius: 50px;
  border-width: 5px !important;
  font-weight: 600;
}

/* Hobby tags on hover */
#hobby_tags:hover {
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

/* Location tags */
#location_tags {
  color: rgb(128, 128, 128);
  border-radius: 50px;
  border-width: 5px !important;
  font-weight: 600;
}

/* Location tags on hover */
#location_tags:hover {
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

/* Language tags */
#language_tags {
  color: rgb(128, 128, 128);
  border-radius: 50px;
  border-width: 5px !important;
  font-weight: 600;
}

/* Language tags on hover */
#language_tags:hover {
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

/* Schedule availability tags */
#availability_tags {
  color: rgb(128, 128, 128);
  border-radius: 50px;
  border-width: 5px !important;
  font-weight: 600;
}

/* Schedule availability tags on hover */
#availability_tags:hover {
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}