/* Section background */
#section_background_edit_log {
  padding-top: 50px;
  min-height: 1000px;
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Form title */
#form_title {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
}

/* The card itself */
#card_itself {
  max-width: 500px;
  background-color: #fff;
  text-align: left;
  border-radius: 0px;
}

/* Card content container */
#card_content_container {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  color: rgb(110, 110, 110);
  font-weight: 500;
}

/* First name container */
#first_name {
  padding-top: 25px;
  padding-right: 20px;
}

/* Last name container */
#last_name {
  padding-top: 25px;
  padding-left: 20px;
}

/* Relation container */
#relation {
  padding-top: 25px;
  padding-right: 20px;
}

/* Age range container */
#age_range {
  padding-top: 25px;
  padding-left: 20px;
}

/* About container */
#about {
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}

/* Username container */
#username {
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  text-align: left;
}

/* Add member button container */
#add_member_btn_container {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Add member button */
#add_member_btn {
  background: #348AC7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #348AC7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

/* Add member button on hover */
#add_member_btn:hover {
  filter: brightness(92%);
}

/* Edit member info button container */
#return_link_container {
  /* padding-top: 5px; */
  padding-bottom: 20px;
}

/* Edit member info button */
#return_link {
  color: #32329ebd;
}

/* Edit member info button on hover hover */
#return_link:hover {
  color: #32329e6c;
}
