/* Logout page background image */
#section_background_logout {
  margin-top: 60px;
  padding-top: 130px;
  /* padding-bottom: 350px; */
  min-height: 100vh;
  background-image: url('/static/website/images/backgrounds/logout_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: 0.9; */
}

/* Outside container */
#outside_container {
  width: 100%;
  padding-top: 120px;
}

/* Message container */
#message_container {
  text-align: center;
  padding-top: 50px;
  font-size: 25px;
  padding-bottom: 50px;
  max-width: 500px;
  border-radius: 25px;
}

/* Buttons container */
#buttons_container {
  width: 100%;
  padding-top: 30px;
}

/* button */
#button_btn {
  width: 70px;
  height: 40px;
}
