<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <!-- Family+ Logo directs to the Home page -->
    <a class="navbar-brand" href="{% url 'home' %}">
      Family+
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Direct to Search page -->
      {% if user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search-page' %}">Search</a>
          </li>
        </ul>
      {% endif %}
      
      <!-- Logged in users have a dropdown menu with their family name displayed and
      links that go to the Profile and Settings page and also the Logout button. -->
      {% if user.is_authenticated %}
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">

            <!-- Greets by family name -->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if user.familyprofile.family_name %}
                My {{ user.familyprofile.family_name }} Family
              {% else %}
                My (Set Up Nickname) Family
              {% endif %}
            </a>

            <!-- Dropdown menu items below -->
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

              <!-- Links to Profile page if profile is already set up. -->
              {% if user.familyprofile.id %}
                <a class="dropdown-item" href="{% url 'family-profile' user.familyprofile.id %}">Profile</a>

              <!-- Else links to Profile (Set Up) page. -->
              {% else %}
                <!-- <a class="dropdown-item" href=""{% url 'home' %}">Profile</a> -->
                <a class="dropdown-item" href="{% url 'create-profile' %}">Profile (Set up)</a>
              {% endif %}

              <!-- Links to Settings page and logout button shown for all logged in users. -->
              <a class="dropdown-item" href="{% url 'account-settings' %}">Settings</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>

            </div>
          </li>
        </ul>

      <!-- Users not logged in and non-users only see the Sign Up and Login buttons. -->
      {% else %}
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        </ul>
      {% endif %}

    </div>
  </div>
</nav>