{% load static %}

<style>
  .overflow-auto:hover {
    background-color: rgba(24, 42, 124, 0.103);
    filter: brightness(85%);
  }

</style>

<!-- Button trigger modal -->
<button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#ConnectionsListModal"
  style="position: fixed; bottom: 0px; right: 30px; background-color: #1095ad; color: rgba(255, 255, 255, 0.9); font-size: 18px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
  <i class="bi bi-people"></i>
  Connections List
</button>

<!-- ConnectionsList Modal -->
<div class="modal fade" id="ConnectionsListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content" style="border: 0; border-radius: 15px;">
      <div class="modal-header" style="background-color: #1095ad;">
        <div class="modal-title w-100" id="exampleModalLabel">
          <div class="container-fluid" style="font-size: 27px; font-weight: 500; color: rgba(255, 255, 255, 0.9);">
            Connections
          </div>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" style="opacity: 0.9;">
        </button>
      </div>
      <div class="modal-body" style="height: 800px; background-color: #e7eaed; padding-right: 30px; padding-left: 20px;">

        <!-- Display user's total number of connections -->
        <div class="container-fluid" style="height: 60px; text-align: center; vertical-align: middle; line-height: 40px; color: rgb(119, 119, 119); font-weight: 500;">
          Connections: {{ user.familyprofile.user.connections.all.count }}
        </div>

        <!-- Display card for each connection -->
        {% for connection in user.familyprofile.user.connections.all %}
          <div class="container-fluid" style=" padding-bottom: 5px; padding-right: 5px; padding-left: 20px;">
            <div class="card mb-3 shadow p-2" style="border: 0; border-radius: 25px;">
              <div class="row g-0">
                <div class="col-md-4" style=" padding: 10px;">
                  {% if connection.profile_image %}
                    <a href="{% url 'family-profile' connection.id %}">
                      <img src="{{ connection.profile_image.url }}" class="img-fluid shadow" style="min-height: 200px; border-radius: 25px;">
                    </a>
                  {% else %}
                    <a href="{% url 'family-profile' connection.id %}">
                      <img src="{% static 'website/images/default_profile_img/plain_default3.jpg' %}" class="img-fluid shadow" style="min-height: 200px; border-radius: 25px;">
                    </a>
                  {% endif %}
                </div>
                <div class="col-md-8" style="border: 0; padding-left: 20px; padding-right: 20px; padding-top: 10px;">
                  <div class="card-body">
                    <h3 class="card-title text-truncate" style="padding-bottom: 5px; color: rgb(71, 71, 71); font-weight: 500;">
                      {{ connection.family_name|title }} Family
                    </h3>
                    <p class="card-text mb-2" style="font-weight: 600; padding-left: 2px;  color: rgb(104, 104, 104);">
                      Contact Info
                      <div class="overflow-auto" style="max-width: 450px; max-height: 100px; padding-left: 2px; padding-right: 2px; padding-top: 3px; border-radius: 5px;">
                        <small class="text-muted">
                          {% if connection.contact_info %}
                            {{ connection.contact_info }}
                          {% else %}
                            The {{ connection.family_name|title }} Family has not filled out their contact info.
                          {% endif %}
                        </small>
                      </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
      <div class="modal-footer" style="background-color: #dddddd;">
        <!-- Edit button switches to second modal -->
        <button class="btn btn-outline-secondary" data-bs-target="#EditConnectionsListModal" data-bs-toggle="modal" style="border-color: rgba(7, 19, 71, 0.288); color: rgba(7, 19, 71, 0.555);">
          Edit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Second Modal for editing user's Connections List -->
{% include 'family_profile/edit-connections-list.html' %}