{% extends 'header_footer/base.html' %}

{% block title %}
  Edit Family Profile | Family+
{% endblock %}

{% block content %}
<body style="background-color: #f0f2f5;">
  
  {% if user.is_authenticated %}
    {% if user.id == familyprofile.user.id %}
      <section style="padding-top: 70px; min-height: 2000px;">
        <h1>Edit Family Profile</h1>
        <br/><br/>

        <div class="form-group">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">
              Update
            </button>
            <a href="{% url 'family-profile' user.familyprofile.id %}" class="btn btn-secondary">
              Cancel
            </a><br/><br/>
          </form>
        </div>
      </section>
    {% else %}
      <section>
        <center>
          <!-- Require the correct user to access this view -->
          <div class="container-fluid" style="padding: 290px">
            You are not the correct user to edit this page
          </div>
        </center>
      </section>
    {% endif %}

  {% else %}
    <section>
      <center>
        <!-- Require logged in account to edit own family profile -->
        <div class="container-fluid" style="padding: 290px">
          You must be logged in to visit this page.
        </div>
      </center>
    </section>
  {% endif %}
   
</body>
{% endblock %}