{% extends 'footer_header/base.html' %}
{% load static %}

{% block content %}
<br>

{% if user.is_authenticated %}
  <!-- Only show the Edit Profile button on user's own family profile. -->
  {% if user.familyprofile.id == page_user.id %}
    <a href="{% url 'edit-family-profile' user.familyprofile.id %}">
      Edit Profile
    </a>
  {% endif %}

  <!-- Display family profile -->
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        {% if page_user.profile_image.url != "" %}
          <img src="{{ page_user.profile_image.url }}" class="card-img rounded-circle">
        {% else %}
          <img src="{% static 'website/images/default_profile_img/default2.jpg' %}" class="card-img rounded-circle">
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <br>
          <h1 class="card-title">
            {% if page_user.family_name %}
              {{ page_user.family_name|title }} Family
            {% else %}
              (Set Up Nickname) Family
            {% endif %}
          </h1>
          <br><br>
          <p class="card-text">
            <h3>Family bio</h3>
            {{ page_user.family_bio }}
            <br><br>

            <h3>Contact Info</h3>
            {% if page_user.contact_info %}
              {{ page_user.contact_info }}
            {% else %}
              {% if page_user.user.family_name %}
                The {{ page_user.user.family_name }} Family has not filled out this info.
              {% else %}
                This family has not filled out this info.
              {% endif %}
            {% endif %}          
            <br><br>

            <!-- Only display these fields if filled out -->
            {% if page_user.hobbies %}
              <h3>Hobbies & Activities</h3>
              {{ page_user.hobbies }}<br><br>
            {% endif %}
            
            {% if page_user.interests %}
              <h3>Interests</h3>
              {{ page_user.interests }}<br><br>
            {% endif %}
            
            {% if page_user.locations %}
              <h3>Locations</h3>
              {{ page_user.locations }}<br><br>
            {% endif %}
            
            {% if page_user.schedule %}
              <h3>Availability</h3>
              {{ page_user.schedule }}<br><br>
            {% endif %}
            
            {% if page_user.languages %}
              <h3>Languages</h3>
              {{ page_user.languages }}<br><br>
            {% endif %}
            

            <h3>Family Members</h3>
            {{ page_user.family_members }}
            <br><br>
          </p>
        </div>
      </div>
    </div>
  </div>
{% else %}
  You must be logged in to visit this page
{% endif %}

{% endblock %}