{% extends 'header_footer/base.html' %}
{% load static %}

{% block title %}
  {% if page_user.hidden != True %}
    {{ page_user.family_name|title }} Family | Family+
  {% else %}
    Page Not Found | Family+
  {% endif %}
{% endblock %}

{% block content %}
<body>
  <!-- CSS styling -->
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/family_profile/family_profile.css' %}">

  <section id="section_background_profile">
    {% if user.is_authenticated %}
      <div class="container-fluid" style="width: 100%">

        <!-- FAMILY PROFILE -->
        <div class="container-fluid" id="header_container">
          <div class="card mb-3 shadow p-2" style="border: 0; border-top-left-radius: 25px; border-top-right-radius: 25px;">

            <!--
            TOP HALF OF FAMILY PROFILE (HEADER):
            Contains family profile image, family name, family bio, contact info,
            connect status buttons, edit profile button, and hide profile toggle button.
            -->
            <div class="row g-0">
              <!-- Family profile image (1 of 3 columns)-->
              <div class="col-sm" id="img_container">
                {% if page_user.profile_image.url != "" %}
                  <img src="{{ page_user.profile_image.url }}" class="img-fluid" id="family_profile_image">
                {% else %}
                  <img src="{% static 'website/images/default_profile_img/plain_default3.jpg' %}" class="img-fluid" id="family_profile_image">
                {% endif %}
              </div>

              <!-- (2 of 3 columns) -->
              <div class="col-sm">
                <div class="card-body" id="name_bio_container">

                  <!-- Family name -->
                  <div class="container-fluid" id="family_name_container">
                    <h2 class="card-title text-truncate">
                      {{ page_user.family_name|title }} Family
                    </h2>
                  </div>

                  <!-- Family bio -->
                  <div class="container-fluid" id="family_bio_container">
                    {% if view_hidden and user.familyprofile.id != page_user.id %}
                      {% include 'family_profile/hidden-profile.html' %}
                    {% else %}
                      <div class="container-fluid" id="family_bio_title">
                        Family bio
                      </div>
                      <div class="overflow-auto" id="family_bio">
                        {% if page_user.family_bio %}
                          {{ page_user.family_bio }}
                        {% else %}
                          The {{ page_user.family_name|title }} Family has not filled out their family bio.
                        {% endif %}
                      </div>
                     {% endif %} 
                  </div>
                </div>
              </div>

              <div class="col-sm" id="connect_toggle_contact_container">
                <!-- BUTTONS ONLY THE USER CAN SEE THEMSELVES -->
                <!-- "Visibility eye" -->
                {% if user.familyprofile.id == page_user.id %}
                  <div class="dropdown" id="visibility_container">
                    <button class="btn dropdown-toggle" type="button" id="profile_visibility_btn" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-pencil-square"></i>
                      Visibility
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="profile_visibility_menu">
                      <li>
                        <a class="dropdown-item" id="visibility_dropdown_item" href="{% url 'edit-family-profile' user.familyprofile.id %}">
                          <i class="bi bi-pencil-fill"></i>
                          Edit Header
                        </a>
                      </li>
                      <li>
                        <hr class="dropdown-divider" id="visibility_divider">
                      </li>
                      <li>
                        <form action="{% url 'toggle-profile' user.familyprofile.pk %}" method="POST">{% csrf_token %}
                          {% if profile_hidden %}
                            <button class="dropdown-item" id="visibility_dropdown_item" type="submit", name="profile_id", value="{{ user.familyprofile.id }}">
                              <i class="bi bi-eye-fill"></i>
                              Show Family Profile
                            </button>
                          {% else %}
                            <button class="dropdown-item" id="visibility_dropdown_item" type="submit", name="profile_id", value="{{ user.familyprofile.id }}">
                              <i class="bi bi-eye-slash-fill"></i>
                              Hide Family Profile
                            </button>
                          {% endif %}
                        </form>
                      </li>
                    </ul>
                  </div>
                {% endif %}
                <!-- END OF BUTTONS ONLY THE USER CAN SEE THEMSELVES -->

                <!-- FEATURES ONLY AVAILABLE WHEN VISITING ANOTHER USER -->
                <!-- Display alternative info if the family profile is hidden -->
                {% if user.familyprofile.id != page_user.id %}
                  <!-- Connect button, Cancel Request button, and Connection status -->
                  <div class="container-fluid" id="profile_visitor_container">
                    {% if user in page_user.pending_requests.all %}
                      <form action="{% url 'cancel-request' page_user.pk %}" method="POST">{% csrf_token %}
                        <button class="btn" type="submit" id="cancel_request_btn" name="profile_id_3" value="{{ page_user.id }}">
                          <i class="bi bi-person-dash-fill"></i>
                          Cancel Request
                        </button>
                      </form>
                      <small class="text-muted">Your request has been sent.</small>
                    {% elif user in page_user.connections.all %}
                      <button class="btn" type="button" id="connection_btn">
                        <!-- <i class="bi bi-check"></i> -->
                        <i class="bi bi-check2"></i>
                        Connection
                      </button>
                    {% else %}
                      {% if not user.familyprofile.id %}
                        <button class="btn" id="connect_btn" disabled>
                          <i class="bi bi-person-plus-fill"></i>
                          Send Connect Request
                        </button><br>
                        <small class="text-muted">Set up a family profile to send requests.</small>
                      {% else %}
                        {% if not view_hidden and user.familyprofile.hidden.count == 0 %}
                          <form action="{% url 'send-request' page_user.pk %}" method="POST">{% csrf_token %}
                            <button class="btn" type="submit" id="connect_btn" name="profile_id_2" value="{{ page_user.id }}">
                              <i class="bi bi-person-plus-fill"></i>
                              Send Connect Request
                            </button>
                          </form>
                        {% elif user.familyprofile.hidden.count == 1 %}
                          <button class="btn" id="connect_btn" disabled>
                            <i class="bi bi-person-plus-fill"></i>
                            Send Connect Request
                          </button><br>
                          <small class="text-muted">You cannot send a request in hidden mode.</small>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </div>
                {% endif %}
                <!-- END OF FEATURES ONLY AVAILABLE WHEN VISITING ANOTHER USER -->
                  
                <!-- Contact Info -->
                <div class="container-fluid" id="contact_info_container">
                  <div class="card-text mb-2">
                    <div class="container-fluid" id="contact_info_title">
                      {% if not view_hidden or user.familyprofile.id == page_user.id %}
                        Contact Info
                      {% endif %}
                    </div>
                    <div class="overflow-auto" id="contact_info_profile">
                      {% if not view_hidden or user.familyprofile.id == page_user.id %}
                        {% if user in page_user.connections.all or user.familyprofile.id == page_user.id %}
                          {% if page_user.contact_info %}
                            {{ page_user.contact_info }}
                          {% else %}
                            The {{ page_user.family_name|title }} Family has not filled out their contact info.
                          {% endif %}
                        {% else %}
                          This information is only shared with the {{ page_user.family_name|title }} Family's connections.
                        {% endif %}
                      {% else %}
                        <center>
                          <p id="hidden_contact_msg">
                            Nothing to see here...
                          </p>
                        </center>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- END OF TOP HALF OF FAMILY PROFILE (HEADER)-->

            </div>
            <!-- end of 3 head columns -->
          </div>
        </div>

        <!--
        LOWER HALF OF FAMILY PROFILE (BODY):
        Contains family members section and section containing subsections of
        hobbies & interests, locations (might not include), schedule (might not include), and languages.
        -->
        {% if not view_hidden or user.familyprofile.id == page_user.id %}
          <!-- CSS styling -->
          <link rel="stylesheet" type="text/css" href="{% static 'website/css/family_profile/family_members_section.css' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'website/css/family_profile/category_section.css' %}">

          <div class="container-fluid" style="width: 79%;">
            <div class="row shadow" id="row_body">

              <!-- FAMILY MEMBERS SECTION (1 of 2 columns - body of family profile) -->
              <div class="col-sm-5 p-3" id="family_column">
                {% include 'family_profile_body/family-members.html' %}
              </div>
              <!-- END OF FAMILY MEMBERS SECTION -->

              <!-- CATEGORY SECTION (2 of 2 columns - body of family profile) -->
              <div class="col-sm-7 p-3" id="category_column">
                {% include 'family_profile_body/category-section.html' %}
              </div>
              <!-- END OF CATEGORY SECTION -->

            </div>
          </div>
        {% endif %}
        <!-- END OF LOWER HALF OF FAMILY PROFILE (BODY) -->

      </div>
      <!-- END OF FAMILY PROFILE -->
    {% else %}
      <!-- Require logged in account to view family profiles -->
      <center>
        <div style="padding-top: 300px; font-size: 20px;">
          You must be logged in to visit this page.
        </div>
      </center>
    {% endif %}

    {% if user.is_authenticated and user.familyprofile.id == page_user.id %}
      <!-- Connections Model Popup Box -->
      {% include 'family_profile/connections-list.html' %}
    {% endif %}

  </section>
</body>
{% endblock %}