<!-- Family members section presented in an accordion -->

<div class="accordion accordion-flush" id="family_member_accordion">

  <div class="accordion-item" id="accordion_item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFamily">
      <button class="accordion-button" id="family_title_tab" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFamily0" aria-expanded="true" aria-controls="panelsStayOpen-collapseFamily0">
        Family Members
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFamily0" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingFamily">
      <div class="accordion-body">
        <div id="family_title_tab_body">
          Welcome to our humble adobe
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item" id="accordion_item">
    <h2 class="accordion-header" id="panelsStayOpen-headingFamNum"> 
      <button class="accordion-button collapsed" id="family_tab" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFamNum" aria-expanded="false" aria-controls="panelsStayOpen-collapseFamNum">
        Member 1
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFamNum" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFamNum">
      <div class="accordion-body">
        <div id="family_tab_body">
          CONTENT
        </div>
      </div>
    </div>
  </div>

</div>
