{% extends 'footer_header/base.html' %}

{% block title %}
Search | Family+
{% endblock %}

{% block content %}

<body style="background-color: #f0f2f5;">
  <section>
    <center>
      <div class="container">
        <br><br>
        <h1>Search for New Connections!</h1>
        <br>

      </div>

      <h2>More Options...</h2>

      <div>
        Search by family name
        <form class="search-bar mt-sm-2 mr-2" method=GET action="{% url 'search-family' %}">
          <div class="input-group">
            <input class="form-control me-2" type="text" placeholder="E.g. enter 'pizza' to search 'pizza family'"
              aria-label="Search" name="familynameq" id="id_familynameq">

            <button type="submit" class="btn btn-outline-secondary"><span class="bi-search"></span></button>
          </div>
        </form>
      </div>

      <div>
        Search by username

        <form class="search-bar mt-sm-2 mr-2" method=GET action="{% url 'search-username' %}">
          <div class="input-group">
            <input class="form-control me-2" type="text" placeholder="E.g. 'chip_munk123''" aria-label="Search"
              aria-label="Search" name="usernameq" id="id_usernameq">

            <button type="submit" class="btn btn-outline-secondary"><span class="bi-search"></span></button>
          </div>
        </form>
      </div>

    </center>
  </section>

  <!-- Credit for javascript magic: https://www.youtube.com/watch?v=YlMxfqcw77s -->
  <script type="text/javascript">
    document.getElementById("id_familynameq").value = "{{ query }}"
    document.getElementById("id_usernameq").value = "{{ query }}"
  </script>


</body>
{% endblock %}