{% extends 'header_footer/base.html' %}

{% block title %}
  A simple form to add a member to your family | Family+
{% endblock %}

{% block content %}
<body style="background-color: #f0f2f5;">
  <section style="padding-top: 70px; min-height: 2000px;">
    {% if user.is_authenticated %}
      <h1>Family Profile Set Up</h1>
      <br/><br/>

      <div class="form-group">
        <form method="POST">
          {% csrf_token %}

          <!-- First name -->
          <div class="container-fluid">
            {{ form.first_name }}
          </div>

          <!-- Last name -->
          <div class="container-fluid">
            {{ form.last_name }}
          </div>

          <!-- Family relation -->
          <div class="container-fluid">
            {{ form.relation }}
          </div>

          <!-- Age range -->
          <div class="container-fluid">
            {{ form.age_range }}
          </div>

          <!-- About info -->
          <div class="container-fluid">
            {{ form.about }}
          </div>

          <button class="btn btn-primary">
            Save
          </button>

          <a href="{% url 'family-profile' user.familyprofile.id %}" class="btn btn-secondary">
            Cancel
          </a>
          <br/><br/>
        </form>
      </div>

    {% else%}
      You must be logged in to visit this page
    {% endif %}
  </section>
</body>
{% endblock %}