<!-- Category section presented in an accordion -->


<!-- Hobbies and interest tab -->
<div class="accordion accordion-flush" id="category_column">
  <div class="accordion-item" id="accordion_item">
    <h2 class="accordion-header" id="panelsStayOpen-headingCategory">
      <button class="accordion-button" id="category_tab"  type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseCategory0" aria-expanded="true" aria-controls="panelsStayOpen-collapseCategory0">
        Hobbies & Interests
      </button>
    </h2>
    <div id="panelsStayOpen-collapseCategory0" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingCategory">
      <div class="accordion-body">
        <div id="category_tab_body">

          <!-- Display who list of hobbies -->
          {{ hobby_log.hobbies }}

          <!-- Display list items of hobbies -->
          <!-- {% for item in hobby_log.hobbies %}
            {{ item }}<br>
          {% endfor %} -->

        </div>

        <!-- Add and Add/Edit hobbies link -->
        <div class="container" id="edit_log_link_container">
          {% if user.familyprofile.id == page_user.id %}
            {% if not hobby_log %}
              <a href="{% url 'create-hobby-log' %}" id="edit_log_link">
                <i class="bi bi-pencil"></i>
                Add
              </a>
            {% else %}
              <a href="{% url 'edit-hobby-log' hobby_log.pk %}" id="edit_log_link">
                <i class="bi bi-pencil"></i>
                Add/Edit
              </a>
            {% endif %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>

<!-- Locations tab -->
  <div class="accordion-item" id="accordion_item">
    <h2 class="accordion-header" id="panelsStayOpen-headingCatNum1">
      <button class="accordion-button collapsed" id="category_tab" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseCatNum1" aria-expanded="false" aria-controls="panelsStayOpen-collapseCatNum1">
        Locations
      </button>
    </h2>
    <div id="panelsStayOpen-collapseCatNum1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingCatNum1">
      <div class="accordion-body">
        <div id="category_tab_body">
          CONTENT
          
        </div>
      </div>
    </div>
  </div>

  <!-- Schedule tab -->
  <div class="accordion-item" id="accordion_item">
    <h2 class="accordion-header" id="panelsStayOpen-headingCatNum2">
      <button class="accordion-button collapsed" id="category_tab" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseCatNum2" aria-expanded="false" aria-controls="panelsStayOpen-collapseCatNum2">
        Schedule
      </button>
    </h2>
    <div id="panelsStayOpen-collapseCatNum2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingCatNum2">
      <div class="accordion-body">
        <div id="category_tab_body">
          CONTENT
          
        </div>
      </div>
    </div>
  </div>

  <!-- Languages tab -->
  <div class="accordion-item" id="accordion_item">
    <h2 class="accordion-header" id="panelsStayOpen-headingCatNum3">
      <button class="accordion-button collapsed" id="category_tab" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseCatNum3" aria-expanded="false" aria-controls="panelsStayOpen-collapseCatNum3">
        Languages
      </button>
    </h2>
    <div id="panelsStayOpen-collapseCatNum3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingCatNum3">
      <div class="accordion-body">
        <div id="category_tab_body">
          CONTENT
          
        </div>
      </div>
    </div>
  </div>

</div>
