{% extends 'family_profile_body/family-log-base.html' %}
{% load static %}

{% block title %}
  Edit Member Info | Family+
{% endblock %}

{% block content %}

<!-- CSS styling -->
<link rel="stylesheet" type="text/css" href="{% static 'website/css/family_profile/edit_member_log.css' %}">

<body style="background-color: #f0f2f5;">
  <section id="section_background_edit_log">
    {% if user.is_authenticated and str_user == user.username %}
      <div class="container-fluid" id="form_title">
        Edit. Save. Done.<br><br>
      </div>

      <div class="container-fluid">
        <center>
          <div class="card-sm shadow" id="card_itself">

              <form method="POST">
                {% csrf_token %}
                
                <div class="container-fluid" id="card_content_container">
                  <div class="row row-cols-2">
                    
                    <!-- First name -->
                    <div class="col" id="first_name">
                      <label>First Name *</label>
                      {{ form.first_name }}
                    </div>

                    <!-- Last name -->
                    <div class="col" id="last_name">
                      <label>Last Name</label>
                      {{ form.last_name }}
                    </div>

                    <!-- Relation -->
                    <div class="col" id="relation">
                      <label>Family Relation</label>
                      {{ form.relation }}
                    </div>

                    <!-- Age Range -->
                    <div class="col" id="age_range">
                      <label>Age Range</label>
                      {{ form.age_range }}
                    </div>
                  </div>

                  <div class="container-fluid" id="about">
                    <label>About</label>
                    {{ form.about }}
                  </div>
                  
                  <div class="container-fluid" id="username">
                    <center>
                    <label>Family Profile Owner</label>
                      {{ form.user }}
                    </center>
                  </div>

                  <div class="container-fluid" id="add_member_btn_container">
                    <center>
                      <button class="btn" id="add_member_btn">
                        Save Changes
                      </button>
                  </div>

                  <div class="container-fluid" id="return_link_container">
                    <center>
                      <a href="{% url 'family-member-log' member.pk %}" id="return_link">
                        Return to Log
                      </a>
                    </center>
                  </div>

                </div>
              </form>

          </div>
        </center>

      </div>
    {% else%}
      Unauthorized access.
    {% endif %}
  </section>
</body>

{% endblock %}
