{% extends 'family_profile_body/pure-links-base.html' %}
{% load static %}

{% block title %}
  Add/Edit Languages | Family+
{% endblock %}

{% block content %}

<!-- CSS styling -->
<link rel="stylesheet" type="text/css" href="{% static 'website/css/language_log/edit_language_log.css' %}">

<body style="background-color: #f0f2f5;">
  <section id="section_background_edit_language_log">
    {% if user.is_authenticated %}
      {% if str_user == user.username %}
        <div class="container-fluid" id="form_title">
          Click the container. Select. Save.
        </div>

        <div class="container-fluid" id="outer_content_container">
          <center>
            <form method="POST">{% csrf_token %}
              <div class="container-fluid" id="inner_content_container">

                <!-- Language multi-select options -->
                <div class="col" id="languages">
                  {{ form.languages }}
                </div>
                
                <div class="container-fluid" id="profile_user_container">
                  <div class="row row-cols-2">
                    <div class="col">
                      <!-- Family profile owner -->
                      <div class="container-fluid" id="profile_title">
                        <label id="user_label">Family Profile Owner:</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="container-fluid" id="username">
                        {{ form.user }}
                      </div>
                    </div>
                  </div>
                </div>
                  
                <!-- Save button -->
                <div class="container-fluid" id="save_language_btn_container">
                  <center>
                    <button class="btn" id="save_language_btn">
                      Save Languages
                    </button>
                  </center>
                </div>

              </div>
            </form>
          </center>
        </div>

        <script>
          // Select2 jQuery multi-select box.
          // Inspired by: https://www.youtube.com/watch?v=aWaz078Q_GM&t=1s
          // Website docs: https://select2.org/
          $(document).ready(function () {
            $("#language_select").select2({
              tags: true,
              closeOnSelect: false,
              placeholder: "Select languages that your family knows and are interested in",
              multiple: true,

              // Return 'no results found' when user enters a choice not included in the choices
              // Source: https://stackoverflow.com/questions/30471338/how-to-disable-creating-new-tags-with-select2-v4-0
              createTag: function(params) {
                  return undefined;
            }
            })
          })
        </script>
      {% else %}
        <center>
          <div style="padding-top: 300px; font-size: 20px;">
            Unauthorized access. You are not the correct user.
          </div>
        </center>
      {% endif %}
    {% else %}
      <center>
        <div style="padding-top: 300px; font-size: 20px;">
          You must be logged in to access this page.
        </div>
      </center>
    {% endif %}
  </section>
</body>

{% endblock %}

